/* .cursor{
    z-index: 1000;
    width: 50px;
    height: 50px;
    cursor: none;
    background: black;
    border: 1px dashed white;
    border-radius: 50%;
    
    z-index: 1000;
} */

/* .cursor::before
{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */